<launch>

  # if true uses Gazebo, if false setup for Stanford flightroom
  <arg name="sim" default="true"/>
  # number of turtlebots to use
  <arg name="robot_count" default="4"/>
  # turtlebot model type
  <arg name="model" default="burger"/>
  # map for navigation
  <arg name="map_file" default="$(find navlab_turtlebot_base)/maps/flightroom.yaml"/>
  # whether or not to open rviz
  <arg name="open_rviz" default="true"/>
  # parameters for start and goal locations
  <arg name="goal_file" default="$(find navlab_turtlebot_base)/param/four_square.yaml"/>

  <!-- Load Turtlebot starting positions and goal locations -->
  <rosparam command="load" file="$(arg goal_file)" />

  <!-- Gazebo Specific launches -->
  <group if="$(arg sim)">
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find navlab_turtlebot_base)/worlds/flightroom_obstacles.world"/>
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
    </include>
  </group>

  <!-- Stanford Flight Room Specific Launches -->
  <group if="$(eval not(arg('sim')))">
    <!-- VRPN client -->
    <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
      <rosparam subst_value="true">
        server: $(arg server)
        port: 3883
        update_frequency: 100.0
        frame_id: odom
        use_server_time: false
        broadcast_tf: true
        refresh_tracker_frequency: 1.0
      </rosparam>
    </node>

    <!-- static map publisher -->
    <node pkg="tf" type="static_transform_publisher" name="map_odom_publisher" args="0 0 0 0 0 0 1 map odom 100" />

  </group>


  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- Goal Planner -->
  <node pkg="navlab_turtlebot_base" name="goal_planner" type="goal_planner.py" output="screen" />

  <!-- BEGIN ROBOT 1-->
  <group if="$(eval arg('robot_count') >= 1)">
    <group ns="turtlebot1">
      <param name="tf_prefix" value="turtlebot1_tf" />
      <include file="$(find navlab_turtlebot_base)/launch/one_robot.launch" >
        <arg name="robot_name"  value="turtlebot1" />
        <arg name="sim"  value="$(arg sim)" />
      </include>
    </group>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group if="$(eval arg('robot_count') >= 2)">
    <group ns="turtlebot2">
      <param name="tf_prefix" value="turtlebot2_tf" />
      <include file="$(find navlab_turtlebot_base)/launch/one_robot.launch" >
        <arg name="robot_name"  value="turtlebot2" />
        <arg name="sim"  value="$(arg sim)" />
      </include>
    </group>
  </group>

  <!-- BEGIN ROBOT 3-->
  <group if="$(eval arg('robot_count') >= 3)">
    <group ns="turtlebot3">
      <param name="tf_prefix" value="turtlebot3_tf" />
      <include file="$(find navlab_turtlebot_base)/launch/one_robot.launch" >
        <arg name="robot_name"  value="turtlebot3" />
        <arg name="sim"  value="$(arg sim)" />
      </include>
    </group>
  </group>

  <!-- BEGIN ROBOT 4-->
  <group if="$(eval arg('robot_count') >= 4)">
    <group ns="turtlebot4">
      <param name="tf_prefix" value="turtlebot4_tf" />
      <include file="$(find navlab_turtlebot_base)/launch/one_robot.launch" >
        <arg name="robot_name"  value="turtlebot4" />
        <arg name="sim"  value="$(arg sim)" />
      </include>
    </group>
  </group>

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find navlab_turtlebot_base)/rviz/turtlebot_four_navigation.rviz"/>
  </group>

</launch>
