<launch>

    <!-- load flightroom gazebo world -->
    <include file="$(find navlab_turtlebot_sim)/launch/flightroom_world.launch"/>

    <!-- load navigator node -->
    <include file="$(find navlab_turtlebot_sim)/launch/turtlebot3_navigation.launch">
        <arg name="remote" value="true"/>
        <arg name="map_file" value="$(find navlab_turtlebot_sim)/maps/flightroom.yaml"/>
    </include>

</launch>
