<launch>

    <!-- load flightroom gazebo world -->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/>

    <!-- load navigator node -->
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
        <arg name="map_file" value="$(find navlab_turtlebot_sim)/maps/turtlebot3_world.yaml"/>
    </include>

</launch>
