<launch>

    <!-- bringup turtlbot -->
    <!-- <include ns="$(env USER)" file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch"> -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch">
        <arg name="multi_robot_name" value="turtlebot_core" />
    </include>
</launch>
